fastapi
pydantic
uvicorn
sqlalchemy
alembic
psycopg2-binary ## important because SQLAlchemy needs a real POSTgresql driver to talk to the database
pydantic[email]
passlib
argon2-cffi
python-jose[cryptography]
python-dotenv
python-multipart
asyncpg
fastapi-cache2
redis